<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container"><div class="row"><div class="col">
<h1>Automated Analysis</h1>
    <h3>Created: {{analysis_details._creation_time}}</h3>
    <p>Metric Name: {{analysis_details.metric_name}}</p>
    <p>Date of Interest: {{analysis_details.date_of_interest}}</p>
    <p>Threshold percentage: {{analysis_details.threshold_percent}}</p>
    <p>Baseline value: {{analysis_details.baseline_value}}</p>
    <p>Current value: {{analysis_details.current_value}}</p>
    
    
    {% for key, value in evaluation.items() %}
        <h4>{{key}}</h4>
        {% for details in value %}
            <p>{{details}}</p>
        {% endfor %}
    {% endfor %}
</div></div></div>
</body>
</html>