<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container"><div class="row"><div class="col">
<h1>Automated Analysis</h1>
    <h3>Created: {{evaluation.creation_time}}</h3>
    <p><b>Metric Name:</b> {{evaluation.profile.metric_name}}</p>
    <p><b>Date of Interest:</b> {{date_of_interest}}</p>
    <p><b>Baseline Date:</b> {{baseline_date}}</p>
    
    <h2>Overall</h2>
    <p><b>Percent change:</b> {{evaluation.top_level_percent_change}}% </p>
    
    {% for key,row in evaluation.top_level_values.iterrows() %}
      <p><b>{{ row['timeframe'] }}:</b> {{ row['metric_value'] }}</p>
    {% endfor %}

        
    <h2>Dimensions</h2>
    <p>
    Note:  
    <ul>
    <li>sum(Contribution to Change) by dimension should equal 100%</li> 
    <li>sum(Change to Contribution) by dimension should equal 0%</li>
    </ul>
    </p>
    {% for key,row in evaluation.dimension_calc.iterrows() %}
      <p>
      <b>Dimension:</b> {{ row['dimension'] }} {{ row['dimension_value'] }}:
      <b>Significance of Dimension Value:</b> {{ row['significance']}} {{ row["percent_significance"] }}% 
      <b>Contribution to Overall Change:</b> {{ row['contrib_to_overall_change'] }}%
      <b>Change in Contribution to Total:</b> {{ row['change_to_contrib'] }}%
      <b>Percent Change:</b> {{ row['percent_change'] }}% 
      </p>
    {% endfor %}    
</div></div></div>
</body>
</html>