<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
        <link href="./analysis/reports/templates/4.3.1.bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container"><div class="row"><div class="col">
<h1>Overwatch: {{analysis_profile.name}}</h1>
    <h2>Period Covered by Report</h2>
    <p>This report covers the following periods:</p>

    <p><b>Current Period:</b> {{current_period.start_date.date()}} to {{current_period.end_date_inclusive.date()}}<br>
    <b>Prior Period:</b> {{baseline_period.start_date.date()}} to {{baseline_period.end_date_inclusive.date()}}</p>

    <h2>Overall</h2>
    <table class="table table-striped table-bordered mt-4">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Current Period</th>
                <th>Prior Period</th>
                <th>Variance</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tr>
            <td>{{ pretty_print_metric_name }}</td>
            <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="current"]['metric_value'].values[0])}}</td>
            <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
            <td>{{"{:,.0f}".format(evaluation.top_level_diff)}}</td>
            <td>{{evaluation.top_level_percent_change}}% </td>
        </tr>
    </table>


    {% if evaluation.top_level_values_dimension_values_excluded|length > 0 %}
        <h2>Adjusting for Known Causes of Variance</h2>
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Adj Reason</th>
                    <th>Current Period</th>
                    <th>Prior Period</th>
                    <th>Variance</th>
                    <th>% Change</th>
                </tr>
            </thead>
            <tr>
                <td> {{ pretty_print_metric_name }}</td>
                <td></td>
                <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="current"]['metric_value'].values[0])}}</td>
                <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
                <td>{{"{:,.0f}".format(evaluation.top_level_diff)}}</td>
                <td>{{evaluation.top_level_percent_change}}% </td>
            </tr>
            <tr>
                <td>
                Adj:<br>
                {% for exclusion in analysis_profile.percent_change.exclude_dimension_values %}
                    {{ exclusion.dimension }}: {{','.join(exclusion.dim_values)}}<br>
                {% endfor %}
                </td>
                <td>Known issue - See report notes</td>
                <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_only[evaluation.top_level_values_dimension_values_only['timeframe']=="current"]['metric_value'].values[0])}}</td>
                <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_only[evaluation.top_level_values_dimension_values_only['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
                <td>{{"{:,.0f}".format(evaluation.top_level_diff_dimension_values_only)}}</td>
                <td>{{evaluation.top_level_percent_change_dimension_values_only}}% </td>
            </tr>
            <tr class="table-info">
                <td><b>Adjusted {{ pretty_print_metric_name }}</b></td>
                <td></td>
                <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_excluded[evaluation.top_level_values_dimension_values_excluded['timeframe']=="current"]['metric_value'].values[0])}}</td>
                <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_excluded[evaluation.top_level_values_dimension_values_excluded['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
                <td>{{"{:,.0f}".format(evaluation.top_level_diff_dimension_values_excluded)}}</td>
                <td>{{evaluation.top_level_percent_change_dimension_values_excluded}}% </td>
            </tr>
        </table>
   {% endif %}

    <h2>Dimensions Driving Change</h2>
    {% for dimension,df in evaluation.dimension_calc.items() %}
        <img src="{{ scatter_plot_paths[dimension] }}">
        <table class="table table-striped table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>{{ dimension }}</th>
                    <th>Current Period</th>
                    <th>Prior Period</th>
                    <th>Variance</th>
                    <th>% Change</th>
                    <th>Contribution to Change</th>
                </tr>
            </thead>
            <tbody>
                {% for key,row in df.iterrows() %}
                <tr>
                    <td>{{ row['dimension_value_0'] }}</td>
                    <td>{{ "{:,.0f}".format(row['current']) }}</td>
                    <td>{{ "{:,.0f}".format(row['baseline']) }}</td>
                    <td>{{ "{:,.0f}".format(row['diff']) }}</td>
                    <td>{{ row['percent_change'] }}%</td>
                    <td>{{ row['contrib_to_overall_change'] }}%</td>
                </tr>
                {% endfor %}
                <tr class="table-info">
                    <td><b>Total</b></td>
                    {% if evaluation.top_level_values_dimension_values_excluded|length > 0 %}
                        <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_excluded[evaluation.top_level_values_dimension_values_excluded['timeframe']=="current"]['metric_value'].values[0])}}</td>
                        <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_excluded[evaluation.top_level_values_dimension_values_excluded['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
                        <td>{{"{:,.0f}".format(evaluation.top_level_diff_dimension_values_excluded)}}</td>
                        <td>{{evaluation.top_level_percent_change_dimension_values_excluded}}% </td>
                    {% else %}
                        <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="current"]['metric_value'].values[0])}}</td>
                        <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
                        <td>{{"{:,.0f}".format(evaluation.top_level_diff)}}</td>
                        <td>{{evaluation.top_level_percent_change}}% </td>
                    {% endif %}
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endfor %}

    {% if evaluation.multi_dimension_calc|length > 0 %}
        <h2>Dimension Combinations</h2>
        {% for dimensions,df in evaluation.multi_dimension_calc.items() %}
            <br>
            <img src="{{ scatter_plot_paths["_".join(dimensions)] }}" style="height: 25; width: 75; float:inline-start">
            {% set num_of_dims = dimensions|length %}
            <table class="table table-striped table-bordered mt-4">
                <thead class="thead-dark">
                    <tr>
                        {% set first_row = df.iloc[0] %}
                        {% for dim_num in range(num_of_dims) %}
                            <th>Dimension: {{ first_row['dimension_' ~ dim_num] }}</th>
                        {% endfor %}
                        <th>Current Period</th>
                        <th>Prior Period</th>
                        <th>Variance</th>
                        <th>% Change</th>
                        <th>Contribution to Change</th>
                    </tr>
                </thead>
                <tbody>

                {% for key,row in df.iterrows() %}
                    <tr>
                        {% for dim_num in range(num_of_dims) %}
                            <td>{{ row['dimension_value_' ~ dim_num] }}</td>
                        {% endfor %}
                        <td>{{ "{:,.0f}".format(row['current']) }}</td>
                        <td>{{ "{:,.0f}".format(row['baseline']) }}</td>
                        <td>{{ "{:,.0f}".format(row['diff']) }}</td>
                        <td>{{ row['percent_change'] }}%</td>
                        <td>{{ row['contrib_to_overall_change'] }}%</td>
                    </tr>
                {% endfor %}
                    <tr class="table-info">
                        <td colspan="2"><b>Total</b></td>
                        {% if evaluation.top_level_values_dimension_values_excluded|length > 0 %}
                            <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_excluded[evaluation.top_level_values_dimension_values_excluded['timeframe']=="current"]['metric_value'].values[0])}}</td>
                            <td>{{"{:,.0f}".format(evaluation.top_level_values_dimension_values_excluded[evaluation.top_level_values_dimension_values_excluded['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
                            <td>{{"{:,.0f}".format(evaluation.top_level_diff_dimension_values_excluded)}}</td>
                            <td>{{evaluation.top_level_percent_change_dimension_values_excluded}}% </td>
                        {% else %}
                            <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="current"]['metric_value'].values[0])}}</td>
                            <td>{{"{:,.0f}".format(evaluation.top_level_values[evaluation.top_level_values['timeframe']=="baseline"]['metric_value'].values[0])}}</td>
                            <td>{{"{:,.0f}".format(evaluation.top_level_diff)}}</td>
                            <td>{{evaluation.top_level_percent_change}}% </td>
                        {% endif %}
                        <td></td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
    <h2>About This Report</h2>
    <b>Table Analyzed: </b> {{ analysis_profile.dataset.table_name }}<br>

    {% if evaluation.top_level_values_dimension_values_excluded|length > 0 %}
        <b>Adjustments Made:</b>
        <ul style=“list-style-type:disc”>
        {% for exclusion in analysis_profile.percent_change.exclude_dimension_values %}
            <li>{{ exclusion.exclusion_short_desc }}</li>
        {% endfor %}
        </ul>
        <b>Adjustment Reasons:</b>
        <ul style=“list-style-type:disc”>
        {% for exclusion in analysis_profile.percent_change.exclude_dimension_values %}
            <li>{{ exclusion.exclusion_reason }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <b>Report Created:</b> {{ creation_time }}<br>
    <b>Report Posted In:</b> {{ notification.slack.channel }}<br>

</div></div></div>
</body>
</html>
