<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
        <link href="./analysis/reports/templates/4.3.1.bootstrap.min.css" rel="stylesheet" type="text/css">        
</head>
<body>
<div class="container"><div class="row"><div class="col">
<h1>Automated Analysis</h1>
    <h3>Created: {{evaluation.creation_time}}</h3>
    <p><b>Metric Name:</b> {{evaluation.profile.metric_name}}</p>
    <p><b>Date of Interest:</b> {{date_of_interest}}</p>
    <p><b>Baseline Date:</b> {{baseline_date}}</p>
    
    <h2>Overall</h2>
    <p><b>Percent change:</b> {{evaluation.top_level_percent_change}}% </p>
    
    {% for key,row in evaluation.top_level_values.iterrows() %}
      <p><b>{{ row['timeframe'] }}:</b> {{ row['metric_value'] }}</p>
    {% endfor %}

    <h2>Dimensions</h2>
    <p>
    Note:  
    <ul>
    <li>Dimension values with Contribution to Change < {{evaluation.profile.threshold_percent}}% are excluded from report.</li>
    <li>Tables are sorted by: {{evaluation.profile.sort_by}}. </li>
    <li>sum(Contribution to Change) by dimension should equal 100%</li> 
    <li>sum(Change to Contribution) by dimension should equal 0%</li>
    </ul>
    </p>
    {% for dimension,df in evaluation.dimension_calc.items() %}
        <table class="table table-striped table-bordered mt-4">
            <caption> {{dimension}} </caption>
            <thead>
            <tr>
                <th>Dimension Value</th>
                <th>Significance of Dimension Value</th>
                <th>Contribution to Overall Change</th>
                <th>Change in Contribution to Total</th>
                <th>Percent Change</th>             
            </tr>
            </thead>
            <tbody>
            {% for key,row in df.iterrows() %}
            <tr>
                <td>{{ row['dimension_value'] }}</td>
                <td>{{ row["percent_significance"] }}%</td>
                <td>{{ row['contrib_to_overall_change'] }}%</td>
                <td>{{ row['change_to_contrib'] }}%</td>
                <td>{{ row['percent_change'] }}%</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div></div></div>
</body>
</html>